<div class="page-header">
  <h1>
    Fast Food Easy Macro Calculator
    <%= link_to icon('plus'), new_drive_through_path, class: "btn btn-lg btn-success" %>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <head>
      <meta charset="utf-8">
      <title>jQuery UI Autocomplete - Default functionality</title>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <link rel="stylesheet" href="/resources/demos/style.css">
      <script>
        $(function() {
          var availableTags = [
          "McDonalds McDouble",
          "McDonalds Double Cheeseburger",
          "McDonalds McChicken",
          "McDonalds Chicken McNuggets",
          "McDonalds Fruit 'N Yogurt Parfait",
          "McDonalds Vanilla Cone",
          "Wendy's Crispy Dill Chicken Sandwish",
          "Wendy's Jr. Bacon Cheeseburger",
          "Wendy's Value Natural Cut Fries",
          "Wendy's Spicy Chicken Wrap",
          "Wendy's Small Classic Chocolate Frosty",
          "Wendy's Small Classic Vanilla Frosty",
          "Wendy's Crispy Chicken Sandwish",
          "Wendy's Small Chili",
          "Wendy's 6 Piece Spicy Chicken Nuggets",
          "Wendy's 4 Piece Chicken Nuggets",
          "Wendy's Jr. Cheeseburger",
          "Wendy's Garden Side Salad",
          "Wendy's Double Stack",
          "Wendy's Ceasar Side Salad",
          "Wendy's Jr. Cheeseburger Delux",
          "Wendy's 4 Piece Spicy Chicken Nuggets"
          "Wendy's 6 Piece Chicken Nuggets"
          ];
          $( "#tags" ).autocomplete({
            source: availableTags
          });
        });
      </script>
    </head>
    <body>

      <div class="ui-widget">
      <label for="tags">Fast Food: </label>
        <input id="tags">
      </div>
    </body>
  </div>
</div>

<hr>

<div class="row isotope-container">
  <% @drive_throughs.each do |drive_through| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Food Item #<%= drive_through.id %></h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>User</dt>
          <dd><%= drive_through.user_id %></dd>

          <dt>Food</dt>
          <dd><%= drive_through.food %></dd>

          <dt>Total macros</dt>
          <dd><%= drive_through.total_macros %></dd>

        </dl>
        <div class="btn-group btn-group-justified">
          <%= link_to icon('search-plus'), drive_through, class: "btn btn-primary" %>

          <%= link_to icon('edit'), edit_drive_through_url(drive_through), class: "btn btn-warning" %>

          <%= link_to icon('trash-o'), drive_through, method: :delete, data: { confirm: "Do you really want to delete this drive_through?" }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->


<!-- Calorie calculator -->
<div class="modal hide" id="calorie_calculator">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Calorie calculator</h3>
  </div>
  <div class="modal-body">
   This is an approximation based on the Mifflin-St Jeor Equation
   <br/>
   <div class="units_radio">
    <input class="lbs_kg" checked type="radio" name="lbs_kg" value="imperial_calc"/> Imperial <input class="lbs_kg" type="radio" name="lbs_kg" value="metric_calc"/> Metric
  </div>
  <div class="imperial_calc">
    <span class="height_input">Height: <input class="feet_input calc_input" type="text"/> ft <input class="inches_input calc_input" type="text"/> in </span>
    <br/>
    <div class="weight_input">
     Weight: <input class="lbs_input calc_input" type="text"/> lbs
   </div>
 </div>
 <div class="metric_calc">
  <span class="height_input">Height: <input class="meters_input calc_input" type="text"/> m <input class="cm_input calc_input" type="text"/> cm </span>
  <br/>
  <div class="weight_input">
   Weight: <input class="kg_input calc_input" type="text"/> kg
 </div>
</div>
<div class="rest_of_calc">
  <div class="age_input">
   Age: <input class="years_input calc_input" type="text"/>
 </div>
 <div class="gender_input">
  <input class="gender_radio" checked type="radio" name="gender_radio" value="male"/> Male <input class="gender_radio" type="radio" name="gender_radio" value="female"/> Female
</div>
<div class="activity_lvl_div">
 Daily activity level
 <select class="activity_level" name="activity_level">
  <option value='1.2'>Sedentary</option>
  <option value='1.375' selected>Lightly Active</option>
  <option value='1.55'>Moderately Active</option>
  <option value='1.725'>Very Active</option>
  <option value='1.9'>Extremely Active</option>
</select>
<span class="activity_tooltip"><img src="/static_files/images/small_question.png" alt="activity tooltip"/></span>
</div>
<button class="btn" onclick="calculateCalories()">Calculate</button>
<br/>
<div id="totalCals">
</div>
</div>
</div>
</div>

<!-- End of calorie calculator -->
